---
interface Props {
	year: number;
	institution: string;
	field: string;
	location: string;
	description: string;
}

const { year, institution, field, location, description } = Astro.props;
---

<article class="edu-card">
	<h3 class="edu-year">{year}</h3>
	<h3 class="institution-name"><i class="fa-solid fa-building-columns icon-size"></i> {institution}</h3>
	<p class="career-name"><i class="fa-solid fa-medal icon-size"></i> {field}</p>
	<p class="institution-location"><i class="fa-solid fa-location-dot icon-size"></i> <small>{location}</small></p>
	<p class="career-description"> {description}</p>
</article>

<style>

	.edu-card {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 2rem;
	}

	.institution-location {
		font-family: 'Ubuntu Condensed', sans-serif;
	}

	.edu-year {
		margin-bottom: 1.5rem;
	}

	.institution-name, .career-name, .institution-location, .career-description {
		margin-bottom: 1rem;
	}

	.institution-name {
		font-weight: bold;
	}

</style>